body{
    background-color:black;
}
.d1{
    font-family:sans-serif;
    font-weight: 900;
    width:auto;
    height:100%;
    margin-top:20%;
    margin-left:22%;
    padding:1%;
    color: #000000;
    display:inline-block;
    background-image:linear-gradient(to right,#00ee99,#ff8800);
    text-align: center;
   animation-name: a1;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}

.d2{
    font-family:sans-serif;
    font-weight: 900;
    width:auto;
    height:100%;
 /*   margin-top:20%;*/
    margin: 0 auto;
    padding: 1%;
    color: #000000;
    display: inline-block;
    background-image:linear-gradient(to right,#00ee99,#fDE3FF);
    text-align: center;
   animation-name: a1;
    animation-duration:1200ms;
    animation-iteration-count: infinite;
}
.d3{
    font-family:sans-serif;
    font-weight: 900;
    width:auto;
    height:100%;
        margin: 0 auto;
  /*  margin-top:20%;*/
    padding: 1%;
    color: #000000;
    display: inline-block;
    background-image:linear-gradient(to right,#faf349,#f23400);
    text-align: center;
   animation-name: a1;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
.d4{
    font-family:sans-serif;
    font-weight: 900;
    width:auto;
    height:100%;
    margin:0 auto;
    padding:1%;
    color: #000000;
    display:inline-block;
    background-image:linear-gradient(to right,#00ee44,#ff3300);
    text-align: center;
   animation-name: a1;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
}
@keyframes a1{
    0%{opacity: 0.1;

    }
    20%{   opacity:0.2;
  
    }
    50%
    { opacity: 0.5;
      
    }
    100%{
        opacity: 1;
  
    }
    
}
